@CHARSET "UTF-8";

.on-wrapper {width:600px; height:500px; overflow:hidden; -webkit-border-radius:3px;}


/* options */
#login-tip {display:none; background:yellow; -webkit-box-shadow:2px 2px 5px gray; margin-top:5px; color:#222222; -webkit-border-radius:3px; margin:10px 20px; padding:10px;}
#login-tip li {margin:0px;}
.option-item h2 {background:#EFEFEF; padding:5px 10px;}
.option-item {margin:20px 0px 0px 10px;}
.option-item li {margin:10px 0px; font-size:14px;}
.option-item li label {margin-right:5px; display:inline-block; width:50px; text-align:right;}
.login-form input[type=text] {width:200px; height:16px; line-height:16px;}
.login-form input[type=button] {margin-left:60px; width:60px; font-size:16px;}
.option-header {font-size:26px; font-weight:bold;}
