<form id="login-form" class="login-form">
	<h2 class="item-title">登录</h2>
	<ul>
		<li>
			<label>邮箱</label>
			<input type="text" name="email" id="email" />
		</li>
		<li>
			<label>密码</label>
			<input type="password" name="password" id="password" />
		</li>
		<li><input type="button" id="user-login" value="登录" /></li>
	</ul>
	<ul id="login-tip"></ul>
</form>

<script type="text/javascript">
$(function(){
    $('#login-form').delegate('#user-login', 'click', function(event){Onenote.submitLogin();});
});
</script>