@CHARSET "UTF-8";

.cd-wrapper {width:950px; margin:0px auto; overflow:hidden;}

/* container */
.cd-container {width:640px; overflow:hidden;}

/* sidebar */
.cd-sidebar {width:300px; overflow:hidden;}
.cd-sidebar .content-block {margin-bottom:10px; line-height:24px;}
.cd-sidebar .content-title {font-size:22px; color:#2ca090; margin-bottom:10px; margin:0 0 5px;}
.cd-sidebar .content-block a {margin-right:5px;}
.cd-sidebar .cdc-block {margin-bottom:10px; text-align:center;}

/* header */
.cd-header {margin-bottom:10px; height:45px; background-color:#112211; width:100%; overflow:hidden;}
.cd-header .user-nav, .cd-header .user-nav li {list-style:none; height:45px;}
.cd-header .user-nav li {float:left; display:block; line-height:55px; margin-right:10px; color:#D0D0D0;}
.cd-header .user-nav li a {display:block; height:45px; line-height:55px; color:#D0D0D0;}
.cd-header .user-nav li a:hover {color:white;}
.cd-header .channel-nav {margin:0 0 0 30px; padding:0; list-style:none; height:45px; overflow:hidden;}
.cd-header .channel-nav li {list-style:none; float:left; color:#CFCFCF; height:45px; line-height:50px;}
.cd-header .channel-nav li a {display:block; color:#D0D0D0; padding:0 20px; font-size:18px; font-family:"微软雅黑";}
.cd-header .channel-nav li a:hover, .cd-header .channel-nav li.channel-hover a {text-decoration:none; color:white;}
.cd-header .logo a {display:block; height:45px; line-height:45px; color:#DDDDD1; font-size:28px; font-family:微软雅黑; text-decoration:none; font-weight:bold;}
.cd-header .logo a:hover {color:white;}
.cd-header .logo img {width:120px; height:45px;}

/* waterfall */
.waterfall-item {width:225px; margin:5px; padding:10px 0; float: left; background:#F4F4F4; font-size:14px; text-align:center; cursor:pointer; clear:both;}
.waterfall-item.item-bg {background-color:#C3E99E;}
.waterfall-item .pic-block {max-height:400px; overflow:hidden; margin-bottom:10px;}
.waterfall-item .pic-block img {max-width:205px; min-width:150px; vertical-align:top;}
.waterfall-item p {line-height:24px; color:#666666; text-align:left; padding:0 10px 5px; margin:0;}
.waterfall-item p a:link, .waterfall-item p a:visited, .waterfall-item p a:hover {color:#666666; text-decoration:none;}
.waterfall-item p a:hover {color:#555555;}
.waterfall-item .post-time {font-size:12px; color:#999; padding:0px 10px 10px; text-align:left;}
::selection {background-color:#C3E99E; text-shadow:none;}
#infscr-loading {position:fixed; z-index:999; text-align:center; bottom:30%; left:42%; background:gray; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; opacity:0.8; padding:15px; color:white;}
#infscr-loading img {margin-bottom:10px;}

/* footer */
.cd-footer {margin-top:20px; padding-top:20px; font-size:12px; color:#AFAFAF; border-top:1px solid #DFDFDF;}
.cd-footer a:link, .cd-footer a:visited, .cd-footer a:hover {color:#9F9F9F;}

/* pages */
.pages {padding:5px;}
.pages ul.yiiPager {font-size:14px;}
.pages ul.yiiPager a:link, .pages ul.yiiPager a:visited {border:1px solid #DAF0EF; color:#DDDDD1;}
.pages ul.yiiPager a:hover {color:white; background:#4E76C9;}
.pages ul.yiiPager .selected a {background:#4E76C9; color:white;}
.cdc-block {margin:0px auto; text-align:center;}


/* panel */
.panel {background-color:#F4F4F4; -webkit-border-radius:10px; border-radius:10px; -moz-border-radius:10px; position:relative;}
.panel25 {padding:25px;}
.panel20 {padding:20px;}
.panel15 {padding:15px;}



.pic-item a {display:block; width:135px; height:135px; overflow:hidden; float:left; border:3px solid #444442; background-color:#181817; margin:3px;}
.pic-item a:hover {border:3px solid #C29F37!important;}
.pic-item img {width:135px;}




/* site/signup, user signup */
.user-form {font-size:18px;}
.user-form li {margin-bottom:20px; list-style:none;}
.user-form label {display:inline-block; width:70px; text-align:right; margin-right:10px; color:#DDDDD1;}
.user-form .txt {height:30px; line-height:30px; font-size:18px; width:250px;}
.user-form .captcha {width:60px;}
.user-form span {font-size:14px; color:gray;}
.user-form .button {margin-left:80px;}
.login-signup-tip {margin-top:50px; color:#DDDDD1; text-align:center;}



/* tag/list */
.tag-list a {margin:0px 5px;}
.tag-level1:link, .tag-level1:visited {font-size:16px;}
.tag-level2:link, .tag-level2:visited {font-size:20px; color:#F79E1C; font-weight:600;}
.tag-level2:hover {color:white; background:#F79E1C;}
.tag-level3:link, .tag-level3:visited {font-size:26px; color:#91C21C; font-weight:700;}
.tag-level3:hover {color:white; background:#91C21C;}

/* post/show */
.post-detail h1 {font-size:22px; text-align:center; margin:10px 0 20px; padding:0;}
.post-detail .content {line-height:24px;}


.sns-list, .sns-list li {list-style:none; margin:0; color:#DDDDD1;}
.app-list p {margin-left:20px; margin-bottom:0;}
.friend-links, .friend-links li {list-style:none; margin:0;}


