@CHARSET "UTF-8";

body {background-color:#ECE5D8; color:#503E2C; font-family:"Hiragino Sans GB","Microsoft Yahei","Helvetica Neue",Helvetica,Arial,Sans-serif;}
a {color:#9b8878; text-decoration:none; cursor:pointer;}
a:hover {color:#D14836; text-decoration:none;}

.clear {clear:both; font-size:0px; height:0px; line-height:0px; content:""; display:block;}
.radius3px {-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.radius4px {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.radius5px {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.fright{float:right;}
.fleft{float:left;}
.hide{display:none;}
.show{display:block;}
.cred {color:red;}
.cblue {color:blue;}
.cgray {color:gray;}
.clightgray {color:#CFCFCF;}
.cgreen {color:green;}
.aright {text-align:right!important;}
.aleft {text-align:left!important;}
.acenter {text-align:center!important;}
.f12px {font-size:12px;}
.f14px {font-size:14px;}
.absolute {position:absolute;}
.relative {position:relative;}

.lh20px {line-height:20px;}
.lh24px {line-height:24px;}

.indent10px {text-indent:10px;}
.bottom10px {margin-bottom:10px;}
.bottom15px {margin-bottom:15px;}

.site-icon {background-image:url(../images/icons.png); background-repeat:no-repeat;}

.space10px {display:block; clear:both; height:10px; line-height:10px; font-size:1px; overflow:hidden;}
.space20px {display:block; clear:both; height:20px; line-height:20px; font-size:1px; overflow:hidden;}
.line1px {display:block; clear:both; height:1px; line-height:1px; font-size:1px; overflow:hidden; background-color:#DFDFDF; margin:5px 0px;}
.line3px {display:block; clear:both; height:3px; line-height:3px; font-size:1px; overflow:hidden; background-color:#DFDFDF; margin:5px 0px;}

::selection {background-color:#C3E99E; text-shadow:none;}
.site-bg {background-image:url(../images/sitebg.png); background-repeat:no-repeat;}
.cd-wrapper {width:970px; margin:0px auto; overflow-x:hidden;}
.fluid-wrapper {margin:0px auto; overflow:hidden; padding:0 5px;}
.cdc-block {margin:0px auto; background-color:white;}
.cdc-block h4 {margin:0; background:#EFEFEF; line-height:36px; text-indent:10px; font-size:12px; font-weight:normal;}
.ad-block {text-align:center;}
.ad-block.fixed {position:fixed; top:73px; z-index:99;}
.cd-border {border:1px solid #DFDFDF;}
.cd-main {margin-top:88px;}

/* container */
.cd-container {width:655px; overflow:hidden;}
.cd-entry {background:#FFFFFF; margin:0 auto;}
.cd-content {width:610px;}

/* sidebar */
.cd-sidebar {width:300px; overflow:hidden;}
.cd-sidebar .content-block {margin-bottom:10px; line-height:24px;}
.cd-sidebar .content-title {font-size:14px; color:#666; margin:0 0 10px; border-bottom:1px solid #EFEFEF; padding-bottom:5px; line-height:18px;;}
.cd-sidebar .content-block a {margin-right:5px;}
.cd-sidebar .cdc-block {margin-bottom:15px; overflow:hidden;}


/* mini nav */
.cd-mini-nav {position:fixed; top:0; left:0; right:0; z-index:999; height:26px; background-color:#EDEDED; width:100%; overflow:hidden; border-bottom:1px solid #CCCCCC;}
.cd-mini-nav ul {list-style:none; margin:0 10px;}
.cd-mini-nav .diviler {display:block; width:1px; height:10px; font-size:0; background-color:gray; margin:10px 5px auto;}
.cd-mini-nav li {float:left; display:block; color:#000000; height:100%;}
.cd-mini-nav li a, .cd-mini-nav li span {display:block; color:#121211; padding:0px 10px; font-size:12px; line-height:26px;}
.cd-mini-nav li span {padding:0px 10px;}
.cd-mini-nav li .active, .cd-mini-nav li a:hover {color:white; background:#121211;}
.cd-mini-nav .sns-icon a {padding:0;}
.cd-mini-nav .sns-icon a:hover {background:none;}
.cd-mini-nav img {margin:0px 3px 2px; width:20px; height:20px; min-width:20px;}
.cd-mini-nav .sns-icon img {margin-top:3px;}

/* header */
.cd-header {position:fixed; left:0; top:27px; right:0; z-index:999; height:45px; background-color:#545652; width:100%; border-bottom:1px solid black; overflow:visible;}
.cd-header .cd-header-inner {position:relative; overflow:visible;}
.cd-header .logo a {display:block;}
.cd-header .logo a h1 {height:45px; line-height:45px; color:#DDDDD1; font-size:28px; font-family:微软雅黑; font-weight:bold; display:inline-block; padding:0; margin:0 0 0 10px;}
.cd-header .logo a:hover h1 {color:white; line-height:45px;}
.cd-header .logo a h2 {display:none;}
.cd-header .logo img {height:100%; vertical-align:top; max-width:45px; width:45px;}
.cd-header ul {list-style:none; margin:0; padding:0;}
.cd-header .channel-nav {margin:0 0 0 20px; padding:0; list-style:none; overflow-x:hidden;}
.cd-header .channel-nav li.top-menu {list-style:none; float:left; background:#545652; height:45px; overflow:hidden;}
.cd-header .channel-nav li a {display:block; color:#E0E0E0; padding:0 20px; font-size:18px; font-family:"微软雅黑"; height:45px; line-height:45px;}
.cd-header .channel-nav li a:hover, .cd-header .channel-nav li a.active {color:white; background-color:#454544;}
.cd-header .channel-nav li.top-menu .dropmenu {background-position:-228px -580px;}
.cd-header .channel-nav .submenu li a {font-size:14px; height:40px; line-height:40px;}


.cd-header ul.frgith {margin:0; padding:0;}
#wxqrcode {display:block; width:45px; height:45px; position:absolute; top:0; right:0;}
#wxqrcode:hover {width:300px; height:300px;}
#wxqrcode img {height:100%; width:100%;}


/* footer */
.cd-footer {margin-top:20px; font-size:12px; color:#AFAFAF; background:#2B2B2B; padding:7px 0;}
.cd-footer p {margin:0; line-height:22px;}
.cd-footer a:link, .cd-footer a:visited {color:#AFAFAF;}
.cd-footer a:hover {color:#EFEFEF;}
