@CHARSET "UTF-8";

body {background-color:#ECE5D8; color:#503E2C;}
a {color:#9b8878; text-decoration:none; cursor:pointer;}
a:hover {color:#330000; text-decoration:none;}

.clear {clear:both; font-size:0px; height:0px; line-height:0px; content:""; display:block;}
.radius3px {-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.radius4px {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.radius5px {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.fright{float:right;}
.fleft{float:left;}
.hide{display:none;}
.show{display:block;}
.cred {color:red;}
.cblue {color:blue;}
.cgray {color:gray;}
.clightgray {color:#CFCFCF;}
.cgreen {color:green;}
.aright {text-align:right!important;}
.aleft {text-align:left!important;}
.acenter {text-align:center!important;}
.f12px {font-size:12px;}
.f14px {font-size:14px;}
.absolute {position:absolute;}
.relative {position:relative;}

.lh20px {line-height:20px;}
.lh24px {line-height:24px;}

.indent10px {text-indent:10px;}
.bottom10px {margin-bottom:10px;}

.site-icon {background-image:url(../images/icons.png); background-repeat:no-repeat;}

.space10px {display:block; clear:both; height:10px; line-height:10px; font-size:1px; overflow:hidden;}
.space20px {display:block; clear:both; height:20px; line-height:20px; font-size:1px; overflow:hidden;}
.line1px {display:block; clear:both; height:1px; line-height:1px; font-size:1px; overflow:hidden; background-color:#DFDFDF; margin:5px 0px;}

::selection {background-color:#C3E99E; text-shadow:none;}
.site-bg {background-image:url(../images/sitebg.png); background-repeat:no-repeat;}
.cd-wrapper {width:950px; margin:0px auto; overflow:hidden;}
.fluid-wrapper {margin:0px auto; overflow:hidden; padding:0 5px;}
.cdc-block {margin:0px auto;}
.cdc-block h4 {margin:0; background:#EFEFEF; line-height:36px; text-indent:10px; font-size:12px; font-weight:normal;}
.ad-block {text-align:center;}
.ad-block.fixed {position:fixed; top:73px; z-index:99;}
.cd-border {border:1px solid #DFDFDF;}
.cd-main {margin-top:88px;}

/* container */
.cd-container {width:640px; overflow:hidden;}
.cd-entry {background:#FFFFFF; margin:0 auto;}
.cd-content {width:600px;}

/* sidebar */
.cd-sidebar {width:300px; overflow:hidden;}
.cd-sidebar .content-block {margin-bottom:10px; line-height:24px;}
.cd-sidebar .content-title {font-size:14px; color:#666; margin:0 0 10px; border-bottom:1px solid #EFEFEF; padding-bottom:3px; line-height:18px;;}
.cd-sidebar .content-block a {margin-right:5px;}
.cd-sidebar .cdc-block {margin-bottom:15px; overflow:hidden;}


/* mini nav */
.cd-mini-nav {position:fixed; top:0; z-index:999; height:26px; background-color:#EDEDED; width:100%; overflow:hidden; border-bottom:1px solid #CCCCCC;}
.cd-mini-nav ul {list-style:none; margin:0;}
.cd-mini-nav .diviler {display:block; width:1px; height:10px; font-size:0; background-color:gray; margin:10px 5px auto;}
.cd-mini-nav li {float:left; display:block; color:#000000; height:100%;}
.cd-mini-nav li a, .cd-mini-nav li span {display:block; color:#000000; padding:0px 6px; font-size:12px; line-height:26px;}
.cd-mini-nav li .active, .cd-mini-nav li a:hover {color:white; background:#121211;}
.cd-mini-nav .sns-icon a {padding:0;}
.cd-mini-nav .sns-icon a:hover {background:none;}
.cd-mini-nav img {margin:3px; width:20px; height:20px;}

/* header */
.cd-header {position:fixed; top:27px; z-index:999; margin-bottom:15px; height:45px; background-color:#2b2b2b; width:100%; overflow:hidden; border-bottom:1px solid black;}
.cd-header .channel-nav {margin:0 0 0 30px; padding:0; list-style:none; height:45px; overflow:hidden;}
.cd-header .channel-nav li {list-style:none; float:left; color:#CFCFCF; height:45px; line-height:45px; margin:auto 3px;}
.cd-header .channel-nav li a {display:block; color:#D0D0D0; padding:0 10px; font-size:18px; font-family:"微软雅黑";}
.cd-header .channel-nav li a:hover, .cd-header .channel-nav li.active a {color:white; background:#121211; margin-top:5px; height:35px; line-height:35px; border-radius:8px; -webkite-border-radius:8px; -moz-border-radius:8px;}
.cd-header .logo a {height:45px; line-height:45px; color:#DDDDD1; font-size:28px; font-family:微软雅黑; font-weight:bold;}
.cd-header .logo a:hover {color:white; line-height:44px;}
.cd-header .logo img {height:40px; margin-top:3px;}
.cd-header .user-nav, .cd-header .user-nav li {list-style:none;}
.cd-header .user-nav .diviler {display:block; width:1px; height:18px; font-size:0; background-color:gray; margin:10px 10px auto;}
.cd-header li {list-style:none; float:left; color:#CFCFCF; height:45px; line-height:45px; margin:auto 3px;}
.cd-header li a {display:block; color:#D0D0D0; padding:0 10px; font-size:18px; font-family:"微软雅黑";}
.cd-header .channel-nav li a {padding:0 10px; font-size:18px; font-family:"微软雅黑";}
.cd-header li a:hover, .cd-header li.active a {color:white; background:#121211;}
.cd-header .channel-nav li a:hover, .cd-header .channel-nav li.active a {margin-top:5px; height:35px; line-height:35px; border-radius:8px; -webkite-border-radius:8px; -moz-border-radius:8px;}
.cd-header .user-nav li a, .cd-header .user-nav li span {padding:0 6px; font-size:14px;}
.cd-header .user-nav li .active, .cd-header .user-nav li a:hover {margin-top:10px; height:25px; line-height:25px; border-radius:6px; -webkite-border-radius:6px; -moz-border-radius:6px;}
.cd-header .user-nav .user-login a {padding:4px 3px;}
.cd-header .user-nav .user-login img, .cd-header .user-nav .user-name img {width:20px; height:20px;}
.cd-header .user-nav .user-name img {margin-right:2px;}

/* footer */
.cd-footer {margin-top:20px; font-size:12px; color:#AFAFAF; background:#2B2B2B; padding:7px 0;}
.cd-footer p {margin:0; line-height:22px;}
.cd-footer a:link, .cd-footer a:visited {color:#AFAFAF;}
.cd-footer a:hover {color:#EFEFEF;}


