@CHARSET "UTF-8";

body {background-color:white;}
.cd-main {background-color:#FFFFFF;}
#ajax-tip {font-size:12px; font-weight:normal;}

.member-form .control-label {width:100px;}
.member-form .controls {margin-left:120px;}
.member-form .form-actions {padding-left:120px;}
.cd-sidebar {width:180px;}
.cd-container {width:760px;}

.sidebar-nav {background:#EFF2F4; padding:20px 0; overflow-x:hidden; border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -o-border-radius:5px 0 0 5px; -ms-border-radius:5px 0 0 5px;}
.user-avatar {margin-bottom:10px; text-align:center; overflow-x:hidden;}
.large-avatar {width:130px;}
.small-avatar {width:48px; height:48px; vertical-align:bottom;}
.user-avatar h4 {margin:10px 0;}
.user-avatar a {display:block;}
.member-nav {list-style:none; margin:0;}
.member-nav li a {display:block; height:30px; line-height:30px; margin-left:10px; text-indent:15px;}
.member-nav li a:hover, .member-nav li a.active {background:#FFFFFF;}
.user-score {padding:0px 0 10px; text-align:center;}
.user-score b {font-size:22px; color:#D14836;}
table.mypost-table .label {margin-right:5px;}
.sendmail-msg {margin-top:50px; margin-left:100px;}