@CHARSET "UTF-8";

body {font-size:14px;}

.m-wrapper {display:block; margin:0px auto; overflow:hidden;}
.m-footer {padding:10px; background:#008C78; color:white;}

.m-logo {font-size:36px; background:#008C78; padding-left:10px; color:white;}
.m-logo a:link,.m-logo a:hover, m-logo a:visited {color:white;}
.m-nav {background:#DAF2EF; padding-left:20px; font-size:14px; height:26px; line-height:26px;}

/* post/list */
.post-list .post-item {line-height:24px; border-bottom:1px solid #D8D8D8; padding:10px 20px;}
.post-list .post-item-hover {background:#EFEFEF;}
.post-list .post-tags {margin:5px 0px;}
.post-list .post-user {margin-bottom:10px; color:gray; font-size:12px;}
.post-list .post-content {margin-bottom:15px;}

.pages ul.yiiPager {font-size:16px;} 
