@CHARSET "UTF-8";

body {background-color:#ECE5D8; color:#503E2C; margin:0; padding:0; font-family:auto; font-size:16px;}
a {color:#9b8878; text-decoration:none; cursor:pointer;}
a:hover {color:#D14836; text-decoration:none;}

.clear {clear:both; font-size:0px; height:0px; line-height:0px; content:""; display:block;}
.radius3px {-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.radius4px {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.radius5px {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.fright{float:right;}
.fleft{float:left;}
.hide{display:none;}
.show{display:block;}
.cred {color:red;}
.cblue {color:blue;}
.cgray {color:gray;}
.clightgray {color:#CFCFCF;}
.cgreen {color:green;}
.aright {text-align:right!important;}
.aleft {text-align:left!important;}
.acenter {text-align:center!important;}
.f12px {font-size:12px;}
.f14px {font-size:14px;}
.absolute {position:absolute;}
.relative {position:relative;}

.lh20px {line-height:20px;}
.lh24px {line-height:24px;}

.indent10px {text-indent:10px;}
.bottom10px {margin-bottom:10px;}
.bottom15px {margin-bottom:15px;}

::selection {background-color:#C3E99E; text-shadow:none;}
.site-bg {background-image:url(../images/sitebg.png); background-repeat:no-repeat;}
.site-icon {background-image:url(../images/icons.png); background-repeat:no-repeat;}

.space10px {display:block; clear:both; height:10px; line-height:10px; font-size:1px; overflow:hidden;}
.space20px {display:block; clear:both; height:20px; line-height:20px; font-size:1px; overflow:hidden;}
.line1px {display:block; clear:both; height:1px; line-height:1px; font-size:1px; overflow:hidden; background-color:#DFDFDF; margin:5px 0px;}
.line3px {display:block; clear:both; height:3px; line-height:3px; font-size:1px; overflow:hidden; background-color:#DFDFDF; margin:5px 0px;}

/* container */
.cd-wrapper {margin:10px 5px 0; overflow:hidden;}
.cd-container {overflow:hidden;}
.cd-entry {margin:0 auto 10px;}
.cd-main {margin-top:45px;}

.cdc-block {text-align:center; padding:0; margin:0px auto;}
.cdc-block h4 {margin:0; background:#EFEFEF; line-height:36px; text-indent:10px; font-size:14px; font-weight:normal;}
.ad-block {text-align:center;}
.ad-block.fixed {position:fixed; top:73px; z-index:99;}
.cd-border {border:1px solid #DFDFDF;}

/* header */
.cd-header {position:fixed; top:0px; z-index:999; height:40px; background-color:#545652; width:100%; overflow:hidden;}
.cd-header .cd-wrapper {margin:0;}
.cd-header ul {list-style:none;}
.cd-header .channel-nav {margin:0 0 0 43px; padding:0; list-style:none; overflow-x:hidden;}
.cd-header .channel-nav li {list-style:none; float:left; color:#CFCFCF; height:40px; overflow:hidden;}
.cd-header .channel-nav li a {display:block; color:#E0E0E0; padding:0 10px; font-size:16px; font-family:"微软雅黑"; height:40px; line-height:40px;}
.cd-header .channel-nav li a:hover, .cd-header .channel-nav li.active a {color:white; background:#454544;}
.cd-header .logo a {display:block;}
.cd-header .logo a h2 {display:none;}
.cd-header .logo img {height:40px; vertical-align:top;}


.beta-alert {font-size:14px; margin:1px; padding:4px 35px 4px 10px;}
.beta-alert .close {top:-1px; right:-25px;}
.clear {display:block; clear:both; font-size:0px; width:100%; height:0px; line-height:0px;}
.bottom10px {margin-bottom:10px!important;}
footer {font-size:14px; margin:10px 0 0; position:relative; background:#AAAAAA;}
footer a {display:block; padding:10px 15px;}
footer a:link, footer a:hover, footer a:visited {color:white;}
footer a.return-top {float:left;}
footer a.switch-version {float:right;}

/* panel */
.panel {background-color:#FFFFFF; margin:1px 1px 3px; -webkit-box-shadow:#666 0 1px 3px; box-shadow:#666 0 1px 3px; -moz-box-shadow:#666 0 1px 3px; -webkit-border-radius:5px; border-radius:5px; -moz-border-radius:5px;}
.panel-rect {background-color:#FFFFFF; position:relative; margin:0 1px 3px; -webkit-box-shadow:#666 0 1px 3px; box-shadow:#666 0 1px 3px; -moz-box-shadow:#666 0 1px 3px;}
.panel25 {padding:25px;}
.panel20 {padding:20px;}
.panel15 {padding:15px;}
.panel10 {padding:10px;}
.panel.bottom10px {margin-bottom:10px;}
.panel.bottom15px {margin-bottom:15px;}
.panel-pages {padding:5px 15px;}

/* pages */
.cd-pagination {margin:15px 0;}

/* post line list */
.post-line-list .post-item {margin-bottom:0; position:relative; z-index:1;}
.post-line-list .post-item .post-image {margin-top:10px;}
.post-line-list .post-item .post-image .thumbbox {position:relative;  z-index:1;}
.post-image img.thumb {width:150px; max-height:250px; margin:0 auto;}
.post-image .thumbbox .icon-gif-sign {width:42px; height:42px; position:absolute; left:0; top:0; background-position:-103px -160px; z-index:2;}
.post-image img.bmiddle {max-width:100%; min-width:150px; min-height:150px; background:url(../images/big_loading.gif) no-repeat; opacity:1;}
.post-image img.bmiddle:hover {opacity:.9;}
.post-image .thumbnail-more {cursor:pointer;}
.post-image .lines {width:155px; margin-top:3px;}
.post-image .line3 {height:3px; width:50px; margin:3px auto; background:#B2B2B2;}
.post-image .thumb-pall {position:absolute; bottom:0px; height:39px; width:150px; background:transparent url(../images/thumb_more_tip.gif) no-repeat; z-index:2;}
.post-image .lines .sjx {height:9px; width:71px; margin:3px auto; background:url(../images/thumb_more_sjx.gif) no-repeat;}
.post-author {color:#9b8878; margin-bottom:10px; font-size:14px;}
.post-author img {width:25px; height:25px; margin-right:10px;}
.item-title,.item-content {margin-bottom:10px; line-height:24px;}
.item-title a, .item-content a {color:#503E2C; display:block;}
.item-title a {font-size:18px;}
.item-title a:hover {color:#D14836; text-decoration:underline;}
.item-title h1 {font-size:18px; color:inherit; line-height:inherit; margin:0; padding:0;}
.item-content {line-height:24px; margin-top:10px;}
.post-line-list .post-item .post-tags {margin:10px 0 0;}
.post-line-list .post-item .post-tags a {color:#9b8878; word-wrap:break-word; word-break:break-all;}
.post-line-list .post-item .post-tags a:hover {color:#330000;}
.post-line-list .item-shadow {height:15px; background-position:0 -275px;}
.item-toolbar {margin:15px 0; position:relative; z-index:1;}
.post-line-list .item-toolbar {margin:15px 0 0;}
.item-toolbar ul {list-style:none; margin:0; padding:0;}
.item-toolbar ul a {display:block; height:28px; line-height:30px; text-indent:36px; width:80px; border-radius:3px; border:1px solid #DFD5CB; color:#9E8C7B;}
.item-toolbar ul a:hover {box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); border-color:#A78B6F;}
.item-toolbar ul a:active, .item-toolbar ul a.voted {background-color:#F3EFE7; border-color:#cabdb0; box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;color:#BF4131;}
.item-toolbar ul a.upscore {margin:0 10px 0 0; background-position:0 -716px;}
.item-toolbar ul a.upscore:hover {background-position:0 -746px;}
.item-toolbar ul a.upscore:active, .item-toolbar ul a.upscore.voted {background-position:0 -776px;}
.item-toolbar ul a.downscore {background-position:-80px -716px;}
.item-toolbar ul a.downscore:hover {background-position:-80px -746px;}
.item-toolbar ul a.downscore:active, .item-toolbar ul a.downscore.voted {background-position:-80px -776px;}
.item-toolbar ul a.comment {margin:0 0 0 10px; background-position:-160px -716px;}
.item-toolbar ul a.comment:hover {background-position:-160px -746px;}
.item-toolbar ul a.comment:active, .item-toolbar ul a.comment:voted {background-position:-160px -776px;}
.item-toolbar ul a.share {margin:0 0 0 10px; background-position:0 -806px;}
.item-toolbar ul a.share:hover {background-position:0 -836px;}
.item-toolbar ul a.share:active {background-position:0 -866px;}
.item-toolbar ul a.disabled {cursor:default; text-decoration:none;}
/*
.item-toolbar ul a.view-detail {text-indent:0; text-align:center; margin:0 0 0 10px;}
*/

/* video list */
.video-detail {margin-bottom:15px;}
.video-player {text-align:center; margin-top:10px; margin-bottom:10px; background:#F4F4F6;}
.video-detail .toolbar {background:#F4F4F6; padding:5px 10px; font-size:14px; color:#666; margin-top:10px;}

.post-detail .post-content {line-height:24px; color:inherit; margin:0 0 15px;}
.post-detail .post-picture {text-align:center; overflow:hidden; margin-bottom:10px; background-color:#F4F4F6;}
.post-detail .cdc-block {margin:15px auto 15px; list-style:none; text-align:center;}
.post-detail .more-post {list-style:none; margin:10px 0 10px 15px; padding:0;}
.post-detail .more-post li {margin:5px 0;}
.post-detail .more-post li span {font-size:14px; color:#BFBFBF; margin:0 3px 0 -15px; vertical-align:top;}
.post-detail .change-post {width:185px; height:50px; margin:10px auto;}
.post-detail .change-post a {display:inline-block; height:100%;}
.post-detail .change-post a.prev {width:75px; float:left; background-position:-19px -574px;}
.post-detail .change-post a.next {width:100px; float:right; background-position:-94px -574px;}

/* adert block */
.top-banner, .bottom-banner {margin:0 auto; line-height:0; font-size:0;}
.cdc-inner-block {margin:0 -10px;}


.app-online a {display:block; color:#D14836; text-align:center; height:40px; line-height:40px; background:#ECD5D8; font-weight:bold; font-size:18px;}




/* comment/list */
.beta-post-extra {font-size:14px; margin-bottom:5px; padding:0 0 4px; color:#555555;}
.beta-comments {border:1px solid #BFBFBF;}
.beta-mini-title {font-size:14px; background:#CFCFCF; text-indent:10px; height:26px; line-height:26px; font-weight:bold;}
.beta-comment-item {font-size:14px; border-bottom:1px solid #CFCFCF; margin:0;}
.beta-comment-item dt, .beta-comment-item dd {padding:0px 10px; margin:0;}
.beta-comment-item dt {padding-top:10px; font-weight:normal;}
.beta-comment-item .beta-comment-content {padding:10px; line-height:20px;}
.beta-comment-item .beta-comment-toolbar {height:24px; line-height:26px; background:#DFDFDF;}
.beta-comment-item .beta-comment-toolbar a {margin-right:10px;}
.beta-comment-item .beta-comment-toolbar a:last-child {margin-right:0;}
.beta-comment-quote {border:1px solid #CFCFCF; padding:8px; margin:0 0 10px; line-height:20px;}
.beta-comment-quote legend {text-align:left; text-indent:18px; font-size:12px; font-weight:bold; margin:0; padding:0 5px; width:auto; height:20px; line-height:20px; background:white url(../images/quotetip.gif) no-repeat left center; border:1px solid #CFCFCF;}
.beta-hot-comment {border:1px solid #FC0; background:#FFE57F;}
.beta-no-comments, .beta-no-hot-comments {font-size:12px; text-align:center; color:gray; padding:5px;}
.disable_comment {font-size:14px; text-align:center; color:red; padding:5px;}


/* comment create form */
.beta-alert-message {display:none;}
.beta-create-form {margin-bottom:20px;}
.beta-comment-form {font-size:12px; background:white; margin:10px 0 2px; text-align:center;}
.beta-comment-form textarea {width:96%; height:40px; padding:4px; line-height:16px; font-size:12px; margin-bottom:2px;}
.beta-comment-form .help-block {margin-bottom:5px; text-align:left;}
.help-block.error {color:#b94a48;}
.help-block.success {color:#468847;}
#load-more-comments {margin-top:10px;}



