@CHARSET "UTF-8";

.cd-wrapper {width:980px; margin:0px auto; overflow:hidden;}
.cd-mainwrapper {background:white; border-radius:5px; overflow-y:visible;}
.cd-footer {margin-top:20px; margin-bottom:10px;}
.breadcrumbs {text-indent:10px; line-height:24px; height:24px; margin-bottom:10px;}

/* header */
.cd-header {margin-top:5px; margin-bottom:20px;}
.cd-header .site-nav {width:800px; background:#E9F4E9;}
.cd-header .site-nav li {float:left; height:36px; line-height:36px;}
.cd-header .site-nav ul.fl li {margin-left:30px;}
.cd-header .site-nav ul.fr li {margin-right:15px;}

/* footer */
.cdc-bottom-banner {background:#EFEFEF; padding:15px 0px;}

/* sidebar */
.cd-sidebar {width:300px;}
.cd-sidebar li {margin:8px 5px 8px 10px;}
.cd-sidebar .content-block {margin-bottom:10px; background:#E6F0F4; border:1px solid #DCEEF5;}
.cd-sidebar .cdc-block {margin-bottom:10px; background:#E6F0F4;}

/* container */
.cd-container {width:660px;}
.cd-catption {color:#060; padding:0px 0px 12px 0px; line-height:150%; font-size:18px;}


/* create */
.create-form textarea {width:630px; height:180px;}
.create-form li {margin-bottom:10px;}
.create-form .txt {width:300px; height:20px; line-height:20px;}
.create-form .button {padding:5px 10px;}

/* post/list */
.subnav-links {background:#E9F4E9; height:30px; margin-bottom:15px;}
.subnav-links li {float:left; height:30px; line-height:30px; margin-left:20px;}
.post-list .post-item {line-height:24px; width:100%; border-bottom:1px dashed #D8D8D8; margin-bottom:8px;}
.item-toolbar {margin:5px 5px 5px 5px; color:gray;}
.item-toolbar .upscore, .item-toolbar .downscore {width:50px; padding-left:20px; cursor:pointer; margin-right:10px;}
.item-toolbar .upscore {background:url(../images/up.gif) no-repeat 0px 5px;}
.item-toolbar .downscore {background:url(../images/down.gif) no-repeat 0px 5px;}

/* post/appraise */
.post-content {background:#E8E7E3; line-height:24px; padding:20px; min-height:200px; margin-bottom:20px;}
.buttons {margin-bottom:30px; text-align:center;}
.buttons a {display:block; float:left; width:180px; height:40px; line-height:40px; margin-left:20px; border:none; color:#FFF; font-size:14px; cursor:pointer;}
.buttons a:hover {text-decoration:underline;}
#refuse-post {background:red; margin-left:40px;}
#accept-post {background:green;}
#skip-post {background:#BDE3EC;}

/* tag/list */
.tag-list a {margin:0px 5px;}
.tag-level1:link, .tag-level1:visited {font-size:20px;}
.tag-level2:link, .tag-level2:visited {font-size:28px; color:#F79E1C; font-weight:600;}
.tag-level2:hover {color:white; background:#F79E1C;}
.tag-level3:link, .tag-level3:visited {font-size:38px; background:white; color:#91C21C; font-weight:700;}
.tag-level3:hover {color:white; background:#91C21C;}

/* post/show */
.post-detail h1 {font-size:22px; text-align:center; margin-bottom:20px;}
.post-detail .content {line-height:26px; text-indent:28px;}
.post-detail .item-toolbar {margin:30px 0px 15px 0px; padding:0px 30px}

/* comment/list */
.comment-list {margin-bottom:15px; border-top:3px solid #D8D8D8;}
.comment-list ul {margin-top:10px; margin-left:10px;}
.comment-list li {font-size:12px; margin:5px 0px; border-bottom:1px solid #E8E8E8; padding:5px;}
.comment-list li span {display:block; float:left; margin-left:15px; height:22px; line-height:22px;}
.comment-list li img {height:20px;}
.comment-list .comment-content {color:gray;}