@CHARSET "UTF-8";

.cd-wrapper {width:950px; margin:0px auto; overflow:hidden;}
.cd-mainwrapper {background:white; border-radius:5px; overflow-y:visible;}
.cd-footer {margin-top:20px;}
.breadcrumbs {text-indent:10px; line-height:24px; height:24px; margin-bottom:10px;}

/* header */
.cd-header {margin-top:5px; margin-bottom:20px;}
.cd-header .site-nav .user-nav {margin-bottom:5px;}
.user-nav a:link, .user-nav a:visited {margin-left:10px; color:gray;}
.user-nav a:hover {color:white;}
.channel-nav li {float:left; margin-left:20px; font-size:22px; color:lightgray; height:43px; line-height:28px; margin-bottom:-10px;}
.channel-nav li a:link, .channel-nav li a:visited {color:#008c78; height:43px; line-height:28px; font-size:22px; font-family:"微软雅黑"; display:inline-block;}
.channel-nav li a:hover, .channel-nav li.channel-hover a {background:url(../images/sanjiao.png) no-repeat 22px bottom;}
.cd-header .bgline {background:#daf2ef; height:9px; font-size:0px; overflow:hidden; border-bottom:2px solid #008c78;}
#logo {margin-top:10px; background:white;}
#logo img {width:140px; height:50px;}

/* footer */
.cdc-bottom-banner {background:#EFEFEF; padding:15px 0px; margin-top:15px;}

/* sidebar */
.cd-sidebar {width:300px;}
.cd-sidebar .content-block {margin-bottom:10px; background:#E6F0F4; border:1px solid #DCEEF5; padding:10px; line-height:24px;}
.cd-sidebar .content-title {font-size:22px; color:#2ca090; margin-bottom:10px;}
.cd-sidebar .content-block a {margin-right:5px;}
.cd-sidebar .cdc-block {margin-bottom:10px; background:#E6F0F4;}
.cd-sidebar .hot-tags a {line-height:26px;}

/* container */
.cd-container {width:640px;}
.cd-catption {color:#060; padding:0px 0px 12px 0px; line-height:150%; font-size:18px;}


/* create */
.create-form textarea {width:630px; height:180px; font-size:14px; line-height:24px;}
.create-form li {margin-bottom:10px;}
.create-form .txt {width:300px; height:20px; line-height:20px;}
.create-form .post-username {width:150px;}
.create-form .button {padding:2px 0px; width:80px; font-size:14px;}
.create-form .captcha {width:60px; font-weight:bold; padding-left:8px; margin-right:5px; font-size:14px;}
.post-form label {width:60px;}
.post-form .button {margin-left:60px;}

/* post/list */
.subnav-links {background:#E9F4E9; height:30px; margin-bottom:15px;}
.subnav-links li {float:left; height:30px; line-height:30px; margin-left:20px;}
.post-list .post-item {line-height:24px; border-bottom:1px solid #D8D8D8; padding:10px;}
.post-list .post-item-hover {background:#EFEFEF;}
.post-list .post-tags {margin:5px 0px;}
.post-list .post-user, .post-detail .post-user {margin-bottom:10px; color:gray; font-size:12px;}
.item-toolbar .upscore, .item-toolbar .downscore {width:50px; padding-left:20px; cursor:pointer; margin-right:10px; color:#969696;}
.item-toolbar .upscore {background:url(../images/up.gif) no-repeat 0px 5px;}
.item-toolbar .downscore {background:url(../images/down.gif) no-repeat 0px 5px;}
.item-toolbar .comment-nums a:link, .item-toolbar .comment-nums a:visited {color:#969696;}
.item-toolbar .comment-nums a:hover {color:white;}
.post-item .post-image {max-height:450px; overflow:hidden; margin:10px 20px;}
.post-item .item-pic, .post-detail .item-pic {max-width:500px; cursor:pointer;}
.post-item .post-image .image-more {display:block; font-size:14px; color:#008C78;}

/* post/appraise */
.post-content {background:#E8E7E3; line-height:24px; padding:20px; min-height:200px; margin-bottom:20px;}
.buttons {margin-bottom:30px; text-align:center;}
.buttons a {display:block; float:left; width:180px; height:40px; line-height:40px; margin-left:20px; border:none; color:#FFF; font-size:14px; cursor:pointer;}
.buttons a:hover {text-decoration:underline;}
#refuse-post {background:red; margin-left:40px;}
#accept-post {background:green;}
#skip-post {background:#BDE3EC;}

/* tag/list */
.tag-list a {margin:0px 5px;}
.tag-level1:link, .tag-level1:visited {font-size:16px;}
.tag-level2:link, .tag-level2:visited {font-size:20px; color:#F79E1C; font-weight:600;}
.tag-level2:hover {color:white; background:#F79E1C;}
.tag-level3:link, .tag-level3:visited {font-size:26px; color:#91C21C; font-weight:700;}
.tag-level3:hover {color:white; background:#91C21C;}

/* post/show */
.post-detail h1 {font-size:22px; text-align:center; margin-bottom:20px;}
.post-detail .content {line-height:26px;}
.post-detail .item-toolbar {margin:30px 0px 15px 0px; padding:0px 30px}
.snsshare {width:22px; padding-top:3px;}
.snsshare a:hover {text-decoration:none;}
.sns-share {background-image:url(../images/sitebg.png); background-repeat:no-repeat; width:16px; height:16px; overflow:hidden; display:block; margin-left:5px; margin-top:5px; cursor:pointer;}
.sns-share.weibo {background-position:left 0px;}
.sns-share.qqt {background-position:left -24px;}
.sns-share.qzone {background-position:left -48px;}

/* comment/list */
.comment-list {margin-bottom:15px; border-top:3px solid #D8D8D8;}
.comment-list ul {margin-top:5px; margin-left:40px; border-bottom:1px solid #E8E8E8;}
.comment-list li {float:left; font-size:12px; padding:5px;}
.comment-list li span {display:block; float:left; margin-left:15px; height:22px; line-height:22px;}
.comment-list li img {height:20px;}
.comment-list .user-small-thumbnail {width:20px; overflow:hidden;}
.comment-list .comment-content {color:gray; width:450px; overflow:hidden;}
.comment-list .view-more {text-align:center; font-size:14px; color:gray; padding-top:5px; overflow-x:hidden;}

.errorSummary {border:1px solid #FF0000; padding:10px; color:gray;}
.errorSummary p {font-weight:bold;}
.errorSummary ul, .errorSummary ul li {margin-left:20px; list-style-type:disc;}

/* site/signup, user signup */
.user-form {font-size:18px; border-right:1px solid lightgray;}
.user-form li {margin-bottom:20px;}
.user-form label {display:inline-block; width:70px; text-align:right; margin-right:10px;}
.user-form .txt {height:30px; line-height:30px; font-size:18px; width:250px;}
.user-form .captcha {width:60px;}
.user-form span {font-size:14px; color:gray;}
.user-form .button {margin-left:80px;}
.login-signup-tip {margin-top:50px;}

/* site notice */
.site-notice li {color:gray; list-style-type:disc; font-size:12px; margin:5px 10px;}

/* comment/create */
.tbl-comment {margin:10px;}
.ccontent {width:450px; height:45px; border:1px solid lightgray; line-height:22px; font-size:14px; padding:5px;}
.submit-button {width:80px; height:55px; font-size:14px;}
.result-tip {padding-left:10px;}
.login-tip {text-align:center; line-height:30px; height:30px; color:gray; font-size:12px;}

