@CHARSET "UTF-8";

.me-wrapper {width:980px; margin:0px auto; overflow:hidden;}
.me-main {margin:10px auto;}
.me-footer {margin-top:10px; margin:10px auto;}
.breadcrumbs {text-indent:10px; line-height:24px; height:24px; margin-bottom:10px;}

/* header */
.me-header ul li {float:left; padding:5px 10px;}

/* left nav */
.me-sidebar {width:300px;}
.me-sidebar li {margin:8px 5px 8px 10px;}

/* container */
.me-container {width:670px;}


/* create */
.create-form textarea {width:630px; height:180px;}
.create-form li {margin-bottom:10px;}
.create-form .txt {width:300px; height:20px; line-height:20px;}
.create-form .button {padding:5px 10px;}