@CHARSET "UTF-8";

.me-wrapper {width:980px; margin:0px auto; overflow:hidden;}
.me-mainwrapper {background:white; border-radius:5px; overflow-y:visible;}
.me-footer {margin-top:20px; margin-bottom:10px;}
.breadcrumbs {text-indent:10px; line-height:24px; height:24px; margin-bottom:10px;}

/* header */
.me-header {margin-bottom:10px;}
.me-header ul li {float:left; padding:5px 10px;}

/* footer */
.cdc-bottom-banner {background:#EFEFEF; padding:15px 0px;}

/* sidebar */
.me-sidebar {width:300px;}
.me-sidebar li {margin:8px 5px 8px 10px;}
.me-sidebar .content-block {margin-bottom:10px; background:#E6F0F4; border:1px solid #DCEEF5;}
.me-sidebar .cdc-block {margin-bottom:10px; background:#E6F0F4;}

/* container */
.me-container {width:670px;}
.me-container-block {width:650px; margin:0px auto;}


/* create */
.create-form textarea {width:630px; height:180px;}
.create-form li {margin-bottom:10px;}
.create-form .txt {width:300px; height:20px; line-height:20px;}
.create-form .button {padding:5px 10px;}

/* post/list */
.subnav-links li {float:left;}
.post-list li {line-height:24px; width:100%; padding-bottom:10px; margin-bottom:10px; border-bottom:1px dashed #D8D8D8;}